.about {
  padding: 0 100px 50px;
}

.about-content {
  width: 82.5%;
  margin: 38px auto 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-item {
  background-color: #ff6060;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding: 13px 20px;
  border-radius: 5px;
}

/* VERSION MOBILE */
@media (max-width: 768px) {
  .about {
    padding: 0 20px 27px;
  }

  .about-content {
    width: 100%;
    margin-top: 22px;
    gap: 20px;
  }

  .about-item {
    font-size: 13px;
    padding: 10px 12px;
  }
}