.collapse {
  width: 100%;
}

.collapse-header {
  width: 100%;
  border: none;
  background-color: #ff6060;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 13px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-arrow {
  display: inline-block;
  font-size: 20px;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.collapse-arrow.open {
  transform: rotate(90deg);
}

.collapse-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #f6f6f6;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.collapse-content p {
  margin: 0;
}

/* VERSION MOBILE */
@media (max-width: 768px) {
  .collapse-header {
    font-size: 13px;
    padding: 10px 12px;
    border-radius: 5px;
  }

  .collapse-arrow {
    font-size: 16px;
  }

  .collapse-content {
    font-size: 12px;
    padding: 15px 12px;
    border-radius: 0 0 5px 5px;
  }
}