.footer {
  background-color: black;
  padding: 60px 0;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.footer p {
  color: white;
  font-size: 14px;
}