.header {
  padding: 45px 100px 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 210.32px;
  height: 68px;
  object-fit: contain;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 57px;
}

.header-nav a {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

.header-nav a.active,
.header-nav a:hover {
  text-decoration: underline;
}


/* Version mobile (écran ≤ 768px) */
@media (max-width: 768px) {
  .header {
    padding: 20px 20px 27px;
  }

  .header-container {
    align-items: center;
  }

  .header-logo {
    width: 145px;
    height: 46.88px;
  }

  .header-nav {
    gap: 26px;
  }

  .header-nav a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
}