@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}